---
layout: default
---
<ul class=menu>
  <li><a class="menu__item menu__item_inside" href="/">Blog</a>
  <li><a class="menu__item" href="/talks/">Talks</a>
  <li><a class="menu__item" href="/projects/">Projects</a>
  <li><a class="menu__item" href="/patrons/">Patrons</a>
</ul>


<div class="post">
  <h1 class="title">{{ page.title }}</h1>

  <p>{{ page.permalink }}</p>

  {{ content }}

  <p class=footer>
    <span>{{ page.date | date: "%B %-d, %Y" }}</span>
    {% if page.hackernews_id or page.reddit_url %}
      <span class="separator">·</span>
      <span>Discuss on</span>
      {% if page.hackernews_id %}
        <a href="https://news.ycombinator.com/item?id={{ page.hackernews_id }}" target="_blank">HackerNews</a>
      {% endif %}
      {% if page.reddit_url %}
        <a href="{{ page.reddit_url }}" target="_blank">Reddit</a>
      {% endif %}
    {% endif %}
  </p>

  {% if page.hide_about %}
  {% else %}
  <div class="about">
    <div class="about_inner">
      <p>Hi! I’m not Nikita.</p>
    </div>
  </div>
  {% endif %}

</div>
